.footer-invitacion{
    width:100%;
    height: 250px;
    text-align:center;

    position:relative;
    overflow:hidden;

    background-image: url('images/flores-3.png');

   /* CAMBIA ESTO: Alinea la imagen a la parte superior */
    
    background-size: 200px;
    background-position: center -62px;
    
    background-repeat: no-repeat;
    background-size: cover;
}

/* ICONOS */

.info-footer{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    margin-bottom:20px;
    flex-wrap:wrap;
}

.info-item{
    display:flex;
    align-items:center;
    gap:8px;

   
}

.info-item img{
    width:40px;
    
    
}

.info-item p{
    margin:0;
    color:#3f3f3f;
    font-size:10px;
    font-weight:600;
    line-height:1.3;
    text-align:left;
    font-family:Arial, sans-serif;
}

/* TEXTO */

.mensaje-footer{

    font-family: 'Symphony-Regular', serif; 
    font-size:50px;
    font-size: 4rem;
    color:#ef9aa8;
    font-weight:400;

    
}

/* CORONA */

.corona{

    width:200px;
    
}